<!DOCTYPE html>
<html>
<head>
 <title>Library App</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="style.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
 <div class="container">
  <nav class="navbar navbar-inverse">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span> 
    </button>
    <a class="navbar-brand" href="#">Library App</a>
   </div>
   <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
     <li class="active"><a href="/">Home</a></li>
     <li><a href="#heading">Books</a></li>
     <li><a href="/addbook">Add Book</a></li> 
     <li><a href="/register">register</a></li>
     <li><a href="/login">Login</a></li>  
    </ul>
   
   </div>
  </nav>
 </div>

  <h1 id="heading">Books</h1>
  <form action="/save-addbook">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required><br>
     <br>
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" required><br>
     <br>
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" required><br>
      <br>
    <label for="publisher">Publisher:</label>
    <input type="text" id="publisher" name="publisher"><br>
     <br>
    <label for="publication_year">Publication Year:</label>
    <input type="text" id="publication_year" name="publication_year"><br>
   <br>
    <label for="edition">Edition:</label>
    <input type="text" id="edition" name="edition"><br>
    <br>

    <label for="pages">Number of Pages:</label>
    <input type="text" id="pages" name="pages"><br>
    <br>

    <label for="language">Language:</label>
    <input type="text" id="language" name="language"><br>
    <br>

    <button type="submit">Add Book</button>
  </form>


</body>
</html>